apiVersion: v1
kind: Secret
metadata:
  name: credentials
type: Opaque
data:
  github_token: <base 64 encoded token> // e.g: echo -n '<your GitHub token>' | base64
  twilio_account_sid: <base 64 encoded Twilio account SID>
  twilio_auth_token: <base 64 encoded Twilio auth token>
  sendgrid_api_key: <base 64 encoded SendGrid api key>